<div class="contenedor-header">
    <header>
        <div class="navbar-header">
            <a class="navbar-brand" href="index.html">
                <!-- Logo -->
                <span>
              <img src="../../../assets/images/logo1.jpg" alt="homepage" class="dark-logo" />
              </span>
            </a>
        </div>
        <nav id="nav">
            <ul>
                <li><a href="#inicio" onclick="seleccionar()">INICIO</a></li>
                <li><a href="#servicios" onclick="seleccionar()">SEGUROS</a></li>
                <li><a href="#contact" onclick="seleccionar()">CONTACTO</a></li>
            </ul>
        </nav>
        <div class="nav-responsive">
            <i class="fa-solid fa-bars"></i>
        </div>
    </header>
</div>
