<!-- ======= Inicio ======= -->
<section id="inicio" class="d-flex align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/LveZsAhVbws?si=-8ACygaLTIKSXwXk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
            <div class="col-lg-6 order-1 order-lg-2 inicio-img" data-aos="zoom-in" data-aos-delay="200">
                <img src="../../../assets/images/AtenasAzul.png" class="img-fluid" alt="" />
            </div>
        </div>
    </div>

</section>

<!--Slider-->
<div class="section-title">
    <h2>CONOCE A VARIOS DE NUESTROS ALIADOS</h2>
</div>
<div class="slider">
    <div class="slide-track">
        <div class="card">
            <div class="slide"><img src="../../../assets/images/slider/1 best-doctors-log.png" alt=""></div>
        </div>
        <div class="card">
            <div class="slide"><img src="../../../assets/images/slider/2 Bupa-Logo.png" alt=""></div>
        </div>
        <div class="card">
            <div class="slide"><img src="../../../assets/images/slider/3 logo alianza.png" alt=""></div>
        </div>
        <div class="card">
            <div class="slide"><img src="../../../assets/images/slider/4 logo confiamed.png" alt=""></div>
        </div>
        <div class="card">
            <div class="slide"><img src="../../../assets/images/slider/5 logo generali.png" alt=""></div>
        </div>
        <div class="card">
            <div class="slide"><img src="../../../assets/images/slider/6 logo interoceanica.png" alt=""></div>
        </div>
        <div class="card">
            <div class="slide"><img src="../../../assets/images/slider/7 logo latina.png" alt=""></div>
        </div>
        <div class="card">
            <div class="slide"><img src="../../../assets/images/slider/8 logo liberty.png" alt=""></div>
        </div>
        <div class="card">
            <div class="slide"><img src="../../../assets/images/slider/9 Logo_humana.png" alt=""></div>
        </div>
        <div class="card">
            <div class="slide"><img src="../../../assets/images/slider/10 logo-hispana.png" alt=""></div>
        </div>
        <div class="card">
            <div class="slide"><img src="../../../assets/images/slider/11 Logo-PlanVital.png" alt=""></div>
        </div>
        <div class="card">
            <div class="slide"><img src="../../../assets/images/slider/12 logos-bmi-ecuador.png" alt=""></div>
        </div>
        <div class="card">
            <div class="slide"><img src="../../../assets/images/slider/13 logos-bmi-igualas.png" alt=""></div>
        </div>
        <div class="card">
            <div class="slide"><img src="../../../assets/images/slider/14 logo-sweaden.png" alt=""></div>
        </div>
        <div class="card">
            <div class="slide"><img src="../../../assets/images/slider/15 pan-american.jpeg" alt=""></div>
        </div>
        <div class="card">
            <div class="slide"><img src="../../../assets/images/slider/16 Vaz-seguros.png" alt=""></div>
        </div>
        <div class="card">
            <div class="slide"><img src="../../../assets/images/slider/17 VumiLatam-300-logo.png" alt=""></div>
        </div>
    </div>
</div>
<!-- Fin inicio -->

<section id="servicios" class="portafolio section-bg">
    <div class="container" data-aos="fade-up">
        <div class="section-title">
            <h2>¿QUÉ DESEAS PROTEGER?</h2>
            <p>
                Contar con un seguro nos brinda tranquilidad y seguridad en nuestro día a día. Nos permite enfrentar los riesgos cotidianos con confianza, sabiendo que tenemos respaldo y que no estaremos solos o desamparados en momentos difíciles.
            </p>
        </div>
        <div class="galeria">
            <div class="proyecto">
                <img src="../../../assets/images/servicios/vehiculo_1.png" alt="">
                <div class="overlay">
                    <img src="../../../assets/images/servicios/vehiculo_2.png" alt="">
                </div>
            </div>

            <div class="proyecto">
                <img src="../../../assets/images/servicios/vida_1.png" alt="">
                <div class="overlay">
                    <div class="overlay">
                        <img src="../../../assets/images/servicios/vida_2.png" alt="">
                    </div>
                </div>
            </div>

            <div class="proyecto">
                <img src="../../../assets/images/servicios/medica_1.png" alt="">
                <div class="overlay">
                    <div class="overlay">
                        <img src="../../../assets/images/servicios/medica_2.png" alt="">
                    </div>
                </div>
            </div>

            <div class="proyecto">
                <img src="../../../assets/images/servicios/empresa_1.png" alt="">
                <div class="overlay">
                    <div class="overlay">
                        <img src="../../../assets/images/servicios/empresa_2.png" alt="">
                    </div>
                </div>
            </div>

            <div class="proyecto">
                <img src="../../../assets/images/servicios/viaje_1.png" alt="">
                <div class="overlay">
                    <div class="overlay">
                        <img src="../../../assets/images/servicios/viaje_2.png" alt="">
                    </div>
                </div>
            </div>

            <div class="proyecto">
                <img src="../../../assets/images/servicios/pesados_1.png" alt="">
                <div class="overlay">
                    <div class="overlay">
                        <img src="../../../assets/images/servicios/pesados_2.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="testimonios" class="d-flex align-items-center">
    <div class="container" data-aos="fade-up">
        <div class="section-title">
            <h2>Testimonios</h2>
            <p>
                Lo que dicen de nosotros
            </p>
        </div>

        <div class="testimonio_grid">
            <div class="cardTestimonio">
                <span><i class="ri-double-quotes-l"></i></span>
                <p>
                    Contrate un seguro con ellos, muy rápidos y profesionales, quería agradecerte toda la información que me dieron. Has sido claros, sin esconder nada y aconsejando, como debe ser , gracias por tomarse el tiempo en contestar con la urgencia que necesitaba.
                </p>
                <span><i class="ri-double-quotes-r"></i></span>
                <hr>
                <img src="../../../assets/images/perfil.png" alt="user">
                <p class="name">Pepito</p>
            </div>

            <div class="cardTestimonio">
                <span><i class="ri-double-quotes-l"></i></span>
                <p>
                    Contrate un seguro con ellos, muy rápidos y profesionales, quería agradecerte toda la información que me dieron. Has sido claros, sin esconder nada y aconsejando, como debe ser , gracias por tomarse el tiempo en contestar con la urgencia que necesitaba.
                </p>
                <span><i class="ri-double-quotes-r"></i></span>
                <hr>
                <img src="../../../assets/images/perfil.png" alt="user">
                <p class="name">Panchito</p>
            </div>

            <div class="cardTestimonio">
                <span><i class="ri-double-quotes-l"></i></span>
                <p>
                    Contrate un seguro con ellos, muy rápidos y profesionales, quería agradecerte toda la información que me dieron. Has sido claros, sin esconder nada y aconsejando, como debe ser , gracias por tomarse el tiempo en contestar con la urgencia que necesitaba.
                </p>
                <span><i class="ri-double-quotes-r"></i></span>
                <hr>
                <img src="../../../assets/images/perfil.png" alt="user">
                <p class="name">Miguelito</p>
            </div>
        </div>

    </div>

</section>

<!-- ======= Contacto ======= -->
<section id="contact" class="contact section-bg">

    <div class="container" data-aos="fade-up">
        <div class="section-title">
            <h2>Contacto</h2>
            <p>
                Escríbenos para obtener más información sobre nuestra empresa y los servicios que te ofrecemos.
            </p>
        </div>

        <div class="row">
            <div class="col-lg-5 d-flex align-items-stretch">
                <div class="info">
                    <div class="address">
                        <i class="ri-map-pin-line"></i>
                        <h4>Dirección:</h4>
                        <p>Puerto Rico 1-95 y Unidad Nacional , Cuenca, Ecuador</p>
                    </div>

                    <div class="email">
                        <i class="ri-mail-line"></i>
                        <h4>Email:</h4>
                        <p>pablo@vasquezasesoria.com</p>
                    </div>

                    <div class="phone">
                        <i class="ri-phone-line"></i>
                        <h4>Teléfono:</h4>
                        <p>098 176 1664</p>
                    </div>

                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3415.9948042703936!2d-79.02249012514164!3d-2.899164044961288!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91cd22a0b0e570c3%3A0xd9090b86378143a3!2sUnidad%20Nacional%20%26%20Puerto%20Rico%2C%20Cuenca!5e0!3m2!1ses-419!2sec!4v1707277152975!5m2!1ses-419!2sec"
                        width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

                </div>
            </div>

            <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
                <form [formGroup]="contactoForm" (ngSubmit)="enviarContacto()">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="name">Nombres y Apellidos</label>
                            <input type="text" class="form-control" required formControlName="nombres" placeholder="Nombre y Apellido" />
                        </div>
                        <div class="form-group col-md-6">
                            <label for="name">Email</label>
                            <input type="email" class="form-control" required formControlName="correo" placeholder="Correo" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="name">Celular</label>
                        <input type="text" class="form-control" name="subject" id="subject" required formControlName="asunto" placeholder="Celular" />
                    </div>
                    <div class="form-group">
                        <label for="name">Mensaje</label>
                        <textarea class="form-control" name="message" rows="10" required formControlName="mensaje" placeholder="Ingrese el texto"></textarea>
                    </div>

                    <div class="text-center">
                        <button type="submit" class="contactButton">Enviar Mensaje</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <a href="https://wa.me/5930981761664?text=Me%20puede%20ayudar%20con%20información..." target="_blank" class="float"><img src="../../../assets/images/whatsapp-fill.svg"></a>
</section>
<!-- Fin Contacto -->
